

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Vinyl&display=swap');




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #020617;
    font-family: "open Sans";

  
  
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 536px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 952px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1160px;
    }
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background: #0e0d0e28;
    height: 72px;
    z-index: 100;

    .logo{
            img{
               width: 200px;
               
            }
        }
       ul{
            display: flex;
            align-items: center;
            gap: 30px;
            li{
                position: relative;
                transition: .5s;
                cursor: pointer;
                a{
                    font-size: 14px;
                    color: #d1d5d8;
                    padding: 24px 0;
                    
                    
                }
                .active{
                        background-image:linear-gradient( to right,#a855f7 ,#f472b6 , #fde047 ); 
                 -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                }
                .mega{
                    position: absolute;
                    top: 45px;
            background-image: linear-gradient(180deg, #e2e8ff05, #e2e8ff23);
                    width:max-content;
                    height: max-content;
                      
                 border-radius: 12px;
                 padding: 3px;
                 margin-bottom: 15px;
                 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                  left: -50px;
                  display: none;
                    transition: .5s;                
                    .wep{
                     
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom:10px; */
                        cursor: pointer;
                        
                        i{
                            color: #5a5858;
                            margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                                 padding: 15px;
                        
                        }
                    }
                    .front-end{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom: 10px; */
                        cursor: pointer;
                      

                        i{
                            color: #5a5858;
                              margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                                 padding: 15px;
                           
                        }
                    }
                    .full-stack{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom: 10px; */
                        cursor: pointer;
                         

                        i{
                            color: #5a5858;
                              margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                              padding: 15px;
                        }
                    }
                    .html{
                     
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom:10px; */
                        cursor: pointer;
                        
                        i{
                            color: #5a5858;
                            margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                                 padding: 15px;
                        
                        }
                    }
                    .js{
                     
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        /* margin-bottom:10px; */
                        cursor: pointer;
                        
                        i{
                            color: #5a5858;
                            margin-left: 10px;
                        }
                        p{
                            color: #fff;
                            font-size:14px;
                                 padding: 15px;
                        
                        }
                    }
                   
                }
                .mega .wep:hover, .front-end:hover, .full-stack:hover,.html:hover,.js:hover {
                    background-color: #020617;
                    border-radius: 10px;
                     width: 100%;
                     padding: 0;
                  
                    
                                    
                }
            }
            a:hover{
                  background-image:linear-gradient( to right,#a855f7 ,#f472b6 , #fde047 ) ;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
              
               
            }
            li:hover .mega{
                display: block;
     
            }
        }

         .btn{
            position: relative;
            padding: 10px;
            background-image: linear-gradient(to bottom, #000911, #fcfcfc41);
            border-radius: 10px;
            outline-offset: 2px;
                outline: 3px solid #28303d;
             transition: .3s;
            a{
                color: #fff;
                padding: 10px;
            }
           
        }
        .btn:hover{
            background-image: linear-gradient(to right, #750697, #e52e71);
             outline: 3px solid #8003b9;
            
        }
}

@media(max-width : 1000px){
    .header{
        padding: 12px;
        ul{
            display: none;
        }
    }
}

@media(max-width : 768px){
    .header{
         width:753px;
         height: 64px;
    background: #504f503f;
        overflow: hidden;
        padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
        ul{
            display: none;
        }
    }
}

@media(max-width: 430px){
    .header{
        width: 100%;
        height: 64px;
        padding: 12px;

        .logo{
            margin: auto;
        }
        .btn{
            display: none;
        }
    }
}



.landing{
    overflow: hidden;
    .container{
   padding: 96px 16px;
    .back{
        position: relative;
        img{
            position: absolute;
            top: 50%;
           transform: translateY(-20%);
           z-index: -1;
        }
    }
    .text{
        width: 1223px;
        height: 342px;
        .new{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: #f9fafb;
            padding: 4px 12px 4px 4px;
            border: 1px solid #5a5858;
            width: max-content;
            height: 32px;
            border-radius: 20px;
            span{
                font-size: 12px;
                background-color: #06963b;
                padding: 4px 8px;
                border-radius: 20px;
                width: 43px;
                /* height: 24px; */
            }
            p{
                font-size: 14px;
                width: 287px;
                font-weight: 600;
                height: 40px;
            }
        }
        h1{
            font-size: 64px;
            margin: 16px 0 0;
            line-height: 1.5;
            color: #e5e7eb;
            font-weight: 600;
            span{
                background-image:linear-gradient( to right,#a855f7 ,#f472b6 , #fde047 ) ;
                background-clip: text;
                color: transparent;
            }
        }
        p{
            font-size: 18px;
            margin: 16px 0 0;
            color: #e5e7eb;
            line-height: 1.5;
        }
    }
      .btn{
            position: relative;
           
           
            border-radius: 15px;
            outline-offset: 2px;
                outline: 3px solid #28303d;
             transition: .3s;
             width: 301px;
             margin-top: 50px;
             height: 44px;
             padding: 13px 0;
              /* padding: 12px 24px; */
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
            a{
                display: block;
                width: 100%;
                color: #fff;
                padding: 13px 0;
                background: #7e22ce;
                border-radius: 15px;
                font-size: 14px;
                font-weight: 700;
            }
           
        }
        .small{
            font-size: 9px;
            color: #64748b;
           margin-top:15px ;
        }
        .center-text{
            text-align: center;
            margin: 96px 183px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 856px;
            h2{
                font-size: 24px;
                margin: 16px 228px 8px;
                color: #d1d5d8;
                line-height: 1.5;
                width: 400px;
                height: 72px;
            }
            .svg{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 48px;
                margin-top: 30px;
            }
        }
   } 
}

@media(max-width : 1000px){
    .landing{
       .container{
        .back{
            display: none;
        }
        .text{
            width: 857px;
            height: 282px;
            h1{
                font-size: 48px;
            }
            p{
                font-size: 16px;
                font-weight: normal;
                color: #e5e7eb;
            }
        }
        .center-text{
            width: 857px;
            
            h2{
                width: 320px;
                font-size: 1.5rem;
                font-weight: normal;
            }
            .svg{
              width: 700px;
                display: flex;
                padding: 0 48px;
                align-items: center;
               
                justify-content: space-between;
            }
        }
       }
    }
}

@media(max-width :990px){
    .landing{
        width: 100%;
       .container{
        width: 879px;
        .back{
            display: none;
        }
        .text{
            width: 847px;
            height: 282px;
            h1{
                font-size: 48px;
                width: 800px;
                br:first-child{
                    display: none;
                }
            }
            p{
                font-size: 16px;
                font-weight: normal;
                color: #e5e7eb;
                width: 600px;
                 br{
                    display: none;
                }
            }
        }
        .center-text{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 96px 0;
            h2{
                    max-width: 320px;
                    font-weight: 600;
                    font-size: 1rem;
            }
            .svg{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                width: 847px;
                height: 35px;
               text-align: center;
                 margin-right: 100px;
                 margin-top: 0;
            }
        }
       }
    }
}
@media(max-width :844px){
    .landing{
        width: 100%;
       .container{
        width: 879px;
        .back{
            display: none;
        }
        .text{
         width: 701px;
            height: 282px;
            h1{
                font-size: 48px;
                width: 701px;
                br:first-child{
                    display: none;
                }
            }
            p{
                font-size: 16px;
                font-weight: normal;
                color: #e5e7eb;
                width: 600px;
                 br{
                    display: none;
                }
            }
        }
        .center-text{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 96px 0;
            width: 701;
            h2{
                    max-width: 320px;
                    font-weight: 600;
                    font-size: 1rem;
            }
            .svg{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-between;
              flex-wrap: wrap;
                width: 701px;
                height: 35px;
               text-align: center;
                padding: 0 48px;
            }
        }
       }
    }
}
@media(max-width : 768px){
    .landing{
        width: 753px;
        padding: 20px 48px 0;
        height: 1020px;
       .container{
      width: 753px;
        .back{
            display: none;
        }
        .text{
         width: 625px;
            height: 282px;
            h1{
                font-size: 48px;
                 width: 625px;
                 height: 144px;
                br:first-child{
                    display: none;
                  
                }
            }
            p{
                 width: 600px;
                 height: 72px;

                font-size: 16px;
                font-weight: normal;
                color: #e5e7eb;
                margin: 16px 0 0;
                line-height: 1.9;
                 br{
                    display: block;
                }
            }
        }
        .btn{
           width: 301px;
           height: 44px;
        }
        .center-text{
            width: 625px;
            height: 139px;
            margin: 96px 0;
            .svg{
                  width: 625px;
                  height: 35px;
                  padding: 0 48px;
            }
        }
       }
    }
}
@media(max-width: 430px ){
    .landing{
        width: 430px;
        padding: 96px 13px;
        .container{
            width: 430px;
            .text{
                width: 398px;
                height: 320px;

                .new{
                   
                    width:310px;
                    height: 32px;
                    padding: 4px 12px 4px 4px;
                    p{
                        font-size: 12px;
                       
                        margin: auto;
                    }
                }
                h1{
                    width: 398px;
                    height: 158px;
                 margin: 16px 0 0 ;
                    font-size: 35px;
                   
                }
                p{
                    width: 398px;
                    height: 96px;
                    margin: 16px 0 0;
                    font-size: 18px;
                    line-height: normal;
                    br{
                        display: none;
                    }
                }
            }
            .btn{
               width: 301px;

            }
           .center-text{
            display: none;
            width: 398px;
            height: 206px;
              display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 96px 0;
                h2{
                    width: 320px;
                    height: 48px;
                    margin: 16px 39px 8px;
                }
            .svg{
                   width: 398px;
                   height: 102px;
                   margin: 16px 39px 8px;
                 

            }
           }
        }
    }
}

.section{
    width: 1351px;
    padding: 48px 16px 0;
    display: flex;
    flex-direction: column;
  
    
    .back{
        position: relative;
     img{
        position: absolute;
        left: 0;
     }
    }
  
        .center-text{
            display: flex;
            /* align-items: center; */
            justify-content: space-between;
            position: relative;
            text-align: center;
            width: 1280px;
            padding: 64px 0 80px;
            .left{
                position: absolute;
                bottom: 50px;
                left: 100px;
            }
            .right{
                position: absolute;
                bottom: 50px;
                right: 100px;
            }
            .text{
                text-align: center;
                h3{
                    width: 800px;
                    font-size: 48px;
                    margin: 16px 240px 8px;
                    color: #e5e7eb;
                    line-height: 1.5;
                    font-weight: 600;
                    span{
                        background-image:linear-gradient( to right,#a855f7 ,#f472b6 , #fde047 ) ;
                background-clip: text;
                color: transparent; 
                    }
                }
                p{
                    font-size: 16px;
                    width: 600px;
                    margin: 8px 340px;
                    color: #94a3b8;
                    line-height: 1.5;
                }
            }
        }

        .boxes{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
           gap: 30px;
            width: 1280px;
            height: 1353px;
            .box{
                width: 1280px;
                display: flex;
                align-items: center;
                height: 449px;
               /* justify-content: center; */
               padding: 0 96px;
                gap: 15rem;
                
                img{
                    width: 456px;
                }
                .title{
                    h3{
                        font-size: 40px;
                        margin: 16px 0 8px;
                        width: 375px;
                        color: #e5e7eb;
                        line-height: 1.5;
                    }
                    p{
                        font-size: 16px;
                        color: #94a3b8;
                        width: 375px;
                        margin: 12px 0 0;
                        line-height: 1.5;
                    }
                }
            }
        }
    }



@media(max-width: 1000px){
    .section{
        width: 985px;
        padding: 48px 16px 0;
        .container{
            .center-text{
                display: flex;
                flex-direction: column;
               

            width: 953px;
            .left,.right{
                display: none;
            }
            .text{
                h3{
                    font-size: 32px;
                    margin: 16px 76px 8px;
                    
                    br:first-child{
                        display: none;
                    }
                }
                p{
                    width: 600px;
                    margin: 8px 176px 0;
                }
            }
        }
        .boxes{
            width: 953px;
            .box{
                width: 953px;
                display: flex;
                flex-direction: column;
                /* align-items: center; */
                gap: 10px;
                padding: 0 8px;
                img{
                    width: 624px;
                }
                .title{
                    h3{
                        text-align: center;
                    width: 841px;
                    font-size: 22px;
                        br{
                            display: none;
                        }
                    }
                    p{
                        text-align: center;
                        width: 841px;
                        br{
                            display: none;
                        }
                    }
                }
            }
        }
        }
        
    }
}
@media(max-width: 768px){
    .section{
        width: 753px;
        padding: 48px 16px 0;
        height: 2677px;
        .back{
            display: none;
        }
    
    
            .center-text{
                display: flex;
                flex-direction: column;
                align-items: center;
            width: 721px;
            height: 400px;
            padding: 64px 0 80px;
            .left,.right{
                display: none;
            }
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                        width: 721px;
                        /* height: 96px; */
                    font-size: 32px;
                    margin: 16px 0 8px;
                    
                    br:first-child{
                        display: none;
                    }
                }
                p{
                    width: 600px;
                    margin: 8px 60px 0;
                    br:first-child{
                        display: none;
                    }
                }
            }
        }
        .boxes{
              height: 2229px;
                width: 721px;
            .box{
                  
                display: flex;
                flex-direction: column;
                /* align-items: center; */
                gap: 10px;
                padding: 0 8px;
                 width: 721px;
                 height: 575px;
                img{
                    width: 624px;
                }
                .title{
                    h3{
                        text-align: center;
                    width: 609px;
                    height: 67px;
                    font-size: 20px;
                    /* margin: 16px 0 8px; */
                        br{
                        display: none;
                        }
                    }
                    p{
                        text-align: center;
                        width: 609px;
                        font-size: 16px;
                        height: 48px;
                        margin: 12px 0 0;
                        br:first-child{
                            display: none;
                        }
                    }
                }
            }
        }
        }
        
    }

@media(max-width: 430px){
    .section{
    width: 430px;
    height: 2301px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
         .center-text{
            width: 398px;
            height: 448px;
            svg{
                display: none;
            }
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h3{
                    width: 398px;
                    height: 144px;
                    font-size: 32px;
                    margin: 16px 0 8px;
                    br{
                        display: block;
                    }
                }
                p{
                      width: 398px;
                      height: 48px;
                      margin: 8px 0 0;
                      font-size: 12px;
                     br:first-child{
                        display: block;
                     }
                }
            }
         }
         .boxes{
            width: 398px;
            height: 1805px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .box{
              
               width: 398px;
               height: 613px;
              display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 8px;
            img{
                width: 380px;
            }
            .title{
                width: 382px;
                height: 224px;
                padding: 0 48px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                
                h3{
                    width: 286px;
                    height: 76.78px;
                    font-size: 20px;
                    margin: 16px 0 8px;
                    br{
                        display: none;
                    }
                }
                p{
                    width: 286px;
                    height: 120px;
                   font-size: 16px;
                   margin: 12px 0 0;
                   br{
                    display: none;
                   }
                }
            }

            }
         }
    }
    }


.section-how{
    width: 1351px;
    height: 780px;
    padding: 48px 0 64px;

      .back{
        position: relative;
     img{
        position: absolute;
        right: 0;
     }
    }
   
          .center-text{
            display: flex;
           
            justify-content: space-between;
            position: relative;
         
            width: 1280px;
            padding: 64px 0 80px;
            .left{
                position: absolute;
                bottom: 50px;
                left: 150px;
            }
            .right{
                position: absolute;
                bottom: 50px;
                right: 150px;
            }
            .text{
                text-align: center;
                h3{
                    width: 800px;
                    font-size: 48px;
                    margin: 16px 240px 8px;
                    color: #e5e7eb;
                    line-height: 1.5;
                    font-weight: 600;
                    span{
                        background-image:linear-gradient( to right,#a855f7 ,#f472b6 , #fde047 ) ;
                background-clip: text;
                color: transparent; 
                    }
                }
                p{
                    font-size: 16px;
                    width: 600px;
                    margin: 8px 340px;
                    color: #94a3b8;
                    line-height: 1.5;
                }
            }
        }

        .boxes{
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            gap: 40px;
            width: 1280px;
            height: 228px;
            .box{
                width: 394px;
                height: 228px;
                padding: 0 16px;
                .icon{
                    font-size: 20px;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    color: #e5e7eb;
                    margin: 0 155px;
                    background-image: linear-gradient(to left top, #7e22cecc , #c084fccc);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .step{
                    font-size: 12px;
                                background-image:linear-gradient( to right,#a855f7 ,#f472b6 , #fde047 ) ;
                background-clip: text;
                color: transparent; 
                width: 50px;
                height: 16px;
                margin: 12px 155px 0;
                }
                h4{
                    margin: 16px 0 8px;
                    font-size: 20px;
                    color: #e5e7eb;
                    width: 362px;
                    height: 28px;
                }
                .slate{
                    font-size: 16px;
                    color: #94a3b8;
                    margin: 8px 0 0 ;
                    width: 362px;
                    height: 96px;
                    line-height: 1.5;
                }
            }

            .box2{
                .icon{
                    background-image: linear-gradient(to left top, #be185dcc, #f9a8d4cc);
                }
            }
            .box3{
                .icon{
                    background-image: linear-gradient(to left top, #eab308cc, #fef08bcc);
                }
            }
        }
         .btn{
            position: relative;
         width: max-content;
            padding: 10px;
            background-image: linear-gradient(to bottom, #000911, #fcfcfc41);
            border-radius: 10px;
            outline-offset: 2px;
                outline: 3px solid #28303d;
             transition: .3s;
            a{
                color: #fff;
                padding: 10px;
           
            }
           
        }
        .btn:hover{
            background-image: linear-gradient(to right, #750697, #e52e71);
             outline: 3px solid #8003b9;
            
        }
    }



   @media(max-width: 768px){
    .section-how{
        width: 753px;
        height: 1220px;
        padding: 48px 0 64px;
        .back{
            display: none;
        }
        .center-text{
            width: 753px;
            height: 328px;
            padding: 64px 0 80px;
            .left, .right{
                display: none;
            }
            .text{
                h3{
                    width: 753px;
                    height: 48px;
                    font-size: 32px;
                    margin: 16px 0 8px;
                }
                p{
                    width: 600px;
                    height: 24px;
                    margin: 8px 67px 0
                }
            }
        }
        .boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 753px;
        height: 708px;
        .box{
        width: 753px;
        height: 204px;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon{
        padding: 20px;
        border-radius: 100%;
        margin: 0 334px;
        }
        .step{
        width: 50px;
        height: 16px;
        margin: 12px 335px 0;
        }
        h4{
        width: 721px;
        height: 28px;
        font-size: 20px;
        margin: 16px 0 8px;
        }
      p{
    width: 600px;
      height: 72px;
      margin: 10px 60px 0;
      br{
      display: none;
      }
      }
        
        }
        }

        .btn{
        margin: 50px auto;
        }

    }
    }

    @media(max-width: 430px){
    .section-how{
   width: 430px;
   height: 1292px;
   padding: 48px 0 64px;
   .center-text{
   width: 430px;
   height: 328px;
   padding: 64px 0 80px;
   .left,.right{
   display: none;
   }

   .text{
   width: 430px;
   height: 80px;
   margin: 24px 0 0;
   h3{
      width: 430px;
      height: 48px;
      margin: 16px 0 8px;
      font-size: 32px;
   }   
   p{
    width: 430px;
    height: 24px;
    margin: 8px 0 0;
   }
   }
   
   }

   .boxes{
   width: 430px;
   height: 780px;
   .box{
    width: 430px;
    height: 228px;
    padding: 0 16px;
   .icon{
   margin: 0 173px;
   }

   .step{
   width: 50px;
   height: 16px;
   margin: 12px 173px 0;
   }

   h4{
   
   width: 398px;
   height: 28px;
   font-size: 20px;
   margin: 16px 0 8px;
   }

.slate{
width: 398px;
height: 96px;
margin: 8px 0 0;
}
   
   

   }
   
   }
    }

    }




